name: Build Windows App

on:
  workflow_dispatch:

jobs:
  build:
    name: Build Windows Executable
    runs-on: windows-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          cache: true

      - name: Install Dependencies
        run: flutter pub get

      - name: Enable Windows Desktop
        run: flutter config --enable-windows-desktop

      - name: Build Windows Release
        run: flutter build windows --release
      - name: Post-Build Check
        run: echo ">>> Build finished at $(Get-Date)"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: medicine-remainder-windows
          path: build/windows/x64/runner/Release
